<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miu.dao.mapper.UserTestMapper">

    <select id="selectUserTest" resultType="com.miu.entity.UserTest">
        select Sname,Sage from user;
    </select>

    <insert id="propagationRequired1">
        insert into user (Sname,Ssex) values ("鸣人","男");
    </insert>

    <insert id="propagationRequired2">
        insert into user (Sname,Sage) values ("佐助","男");
    </insert>
</mapper>
