<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miu.dao.mapper.UserTestMapper">

    <select id="selectUserTest" resultType="com.miu.entity.UserTest">
        select Sname,Sage from user;
    </select>

    <insert id="inertTransactional" parameterType="com.miu.entity.UserTest">
        insert into user (Sname,Ssex,Sage) values (#{sName},#{sAge},#{sSex});
    </insert>

    <insert id="inert2" parameterType="com.miu.entity.UserTest">
     insert into user (Sname,Ssex,Sage) values (#{sName},#{sAge},#{sSex});
    </insert>

</mapper>
