<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miu.dao.mapper.UserRedPackMapper">
    <insert id="insertGradReadPack" parameterType="com.miu.entity.UserRedpack">
        insert into tb_user_redpack
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userid != null" >
                userId,
            </if>
            <if test="redpackid != null" >
                redpackId,
            </if>
            <if test="amount != null" >
                amount,
            </if>
            <if test="grabdate != null" >
                grabDate,
            </if>
            <if test="version != null" >
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userid != null" >
                #{userid},
            </if>
            <if test="redpackid != null" >
                #{redpackid},
            </if>
            <if test="amount != null" >
                #{amount},
            </if>
            <if test="grabdate != null" >
                #{grabdate},
            </if>
            <if test="version != null" >
                #{version},
            </if>
        </trim>
    </insert>
</mapper>
